- name: Docker build and push
  hosts: local
  become: yes

  vars:
    dockerhub_username: "{{ dockerhub_username }}"
    dockerhub_password: "{{ dockerhub_password }}"
    dockerhub_image: petstore
    dockerhub_tag: latest

  tasks:
    - name: Clone project
      git:
        repo: https://github.com/Pavlo-1992/jpetstore
        dest: /home/ubuntu/petstore
        version: master
        force: yes

    - name: Login to Docker Hub
      community.docker.docker_login:
        registry_url: https://index.docker.io/v1/
        username: "{{ dockerhub_username }}"
        password: "{{ dockerhub_password }}"

    - name: Build and push Docker image
      community.docker.docker_image:
        name: "{{ dockerhub_username }}/{{ dockerhub_image }}"
        tag: "{{ dockerhub_tag }}"
        source: build
        build:
          path: /home/ubuntu/petstore
          nocache: true
        push: true

    - name: Remove old container (if exists)
      community.docker.docker_container:
        name: pet1
        state: absent
      ignore_errors: yes

    - name: Run new container
      community.docker.docker_container:
        name: pet1
        image: "{{ dockerhub_username }}/{{ dockerhub_image }}:{{ dockerhub_tag }}"
        state: started
        restart_policy: always
        ports:
          - "8081:8080"
